h1{
color : white;
background : Black;
font-family: sans-serif;
text-align: center;
}
#falafal{
    color: #000;
    background-color: goldenrod;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;

}
#pasta{
    color : black;
    background-color: green;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.parent{
    border: red solid 10px;
}
.child{
    width: 50%;
    padding: 20px;
    border : 4px solid green;
    margin : auto;
}